[Unit]
Description=start appweb server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=eof
Group=eof
WorkingDirectory=/etc/appweb
ExecStartPre=/usr/share/ais3eof-firmware/appweb/get_ip
ExecStart=/usr/bin/authbind /usr/bin/appweb
KillMode=process
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
